
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <title>My Connector</title>
</head>
<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <form action="{% url 'select_conn' connector_id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Select a Connector:</legend>
            <input type="radio" id="connector_{{ connector.id }}" name="selected_connector" value="{{ connector.id }}">
            <label for="connector_{{ connector.id }}"> {{service}} </label><br>
        </fieldset>
        <button type="submit">Select</button>
    </form>
    

  </main>

</body> -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My Connector</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">My Connector</h3></div>
                                    <div class="card-body">
                                      <form action="{% url 'select_conn' connector_id %}" method="post">
                                        {% csrf_token %}
                                        <fieldset>
                                            <legend>Select a Connector:</legend>
                                            <input type="radio" id="connector_{{ connector.id }}" name="selected_connector" value="{{ connector.id }}">
                                            <label for="connector_{{ connector.id }}"> {{service}} </label><br>
                                        </fieldset>
                                        <br>
                                        <button type="submit">Select</button>
                                    </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>

